<p>contact-us works!</p>
<h1 style="padding: 20px 45px 20px 520px;font-size: 44px;">Approach Us</h1>
<div>
    <img alt="My image name" src=".\assets\images\contact.png" width="360" height="245" style="margin-left: 471px;margin-top: -52px;"> 
</div>
<div>
    <a href="https://www.gmail.com" target="_blank" style=" margin-left: 500px;font-size: 18px;color: #000000;">Email Us</a>
    <a href="tel:7569174001" target="_blank" style=" margin-left: 140px;font-size: 18px;color: #000000;">Call In</a>
</div>
<div align="center">
    <iframe src="https://www.google.com/maps/d/embed?mid=1EzgROmKbC6QJLitgj_kJY9JyPsc&ehbc=2E312F" width="90%" height="500px" style="margin-top: 30px;"></iframe>
    </div>
    <a href="http://localhost:4200/dashboard" style="padding: 20px 10px 22px 33px;">go back</a>