<p>about-us works!</p>
<div style="padding: 26px 55px 0px 44px;">
<p>Entrepreneurship has caught up with individuals like never before. The millennials have simply intensified this startup fever, to say the least. The entrepreneurial ecosystem continues to evolve into something bigger, something so prominent that one could not have imagined a phenomenon of this magnitude even a decade back. To keep pace with this burgeoning field, people need a community, a platform that constantly revamps itself with the latest happenings and trends in the world of startups. This is where StartupTalky comes to the rescue. StartupTalky is among India's leading platforms for founders and other stakeholders on the entrepreneurial boat to share their invaluable knowledge, skill, and experiences.
    Launching and running a startup (read successfully) is a herculean task. Hundreds of ventures and initiatives are launched every day but only a tiny number actually make it through the struggle. This pain point was a major reason behind the idea of launching StartupTalky. We envisioned a community for and of innovators and inventors where people could openly discuss their problems and queries to get them solved with inputs and opinions of a large, knowledgeable crowd.
    With this blog, we are on a mission to create an online repository of resources and guides for people curious to launch and run startups/self-initiatives/freelancing careers. Here, you can find articles and posts spread across a wide continuum—from idea generation and funding to exiting from your startup. The blog isn't restricted to startup and funding stories; there are umpteen articles on the successes, failures, and learnings of men and women who dared to think beyond a 9 to 5 job.</p> 
</div>
<div>
    <img alt="My image name" src=".\assets\images\onlinegrocery1.jpg" width="460" height="345" style="margin-left: 80px;">
    <img alt="My image name" src=".\assets\images\onlineshopp2.jpg" width="460" height="345" style="margin-left: 250px;">
</div>
<div style="padding: 26px 55px 0px 44px;">
<p>This would prevent people from committing the same mistakes and taking wrong decisions. Finally, StartupTalky is a one-stop school for staying updated with the latest news and events from the startup ecosystem.
    f you're interested in sharing your two cents on the StartupTalky platform, you'll have to meet certain expectations from our side. Not everybody can become a contributor on StartupTalky. If you would like to be one amongst the hundreds of contributors who have made StartupTalky a success, please fill up this form. After comprehensive review and scrutinization, we'll invite you to become a guest author. The platform has been designed on a give-and-take model; people who read your article/post gain insights and knowledge while you attain popularity and influence in return. The author can be assured of brand building.
    Each well-written, meaningful article gets a space on our Facebook page and group (which happens to be the largest startup community of India). And there's much more in store for you.
    For hugs, bugs, and suggestions, send your email to shubham@startuptalky.com.
</p>
</div>
<div>
    <a href="http://localhost:4200/dashboard" style="padding: 20px 10px 22px 33px;">go back</a>
</div>
